@tailwind base;
@tailwind components;
@tailwind utilities;

#routes {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
